.experience-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #8000ff;
}

.page-subtitle {
  text-align: center;
  font-size: 1.2rem;

  color: #666;
  max-width: 70rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 3rem;
  }

  .page-subtitle {
    font-size: 2rem;
  }
}
